
/* body{
    background: yellow;
}

@media only screen and (min-width: 991px) {
    body{
        background: blue !important;
    }

}

@media only screen and (min-width: 480px) {
    body{
        background: red !important;
    }

} */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f0efe7;
   
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
   background: #0c0c14; 
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#e67e26, #44250c);
    border-radius: 15px;
}

.space {
    height: 150px;
    width: 100%;
    
}
.Seperatorheader {
   height: 150px;
   width: 100%;
   background: linear-gradient(#0c0c14 88px, #fff);
    
}

.nav-link:focus, .nav-link:hover {
    color: #f4e9d7 !important;
}