
.containerdivabout2 {
    padding-bottom: 60px;
}

.divabout2{
    background:#0c0c14 ;
    margin: 20px 0px;
    border-radius: 5px;
    height: 300px;
   
}
.h3about2{
color:#e67e26 ;
font-size: 45px;
font-weight: 800;
margin: 0px 12px;
letter-spacing: 2px;
}
.h4coreabout2 {
    color:#f4e9d7 ;
    margin: 20px;
    font-size: 30px;
    letter-spacing: 2px;
} 
.liabout2 {
    color:#f4e9d7 ;
    letter-spacing: 1px;
    list-style: none;
    
} 

.divimgabout2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigdivabout2 {
    margin: 30px 0px;
}

.bigtitleabout2 {
    font-weight: 700;
    font-size: 33px;
    margin-top: 50px;


}
.textabout2 {
    letter-spacing: 1px;
    color:#48414c ;
}

.div1aboput2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.div2aboput2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}