.site-footer {
  background-color: #0c0c14;
  padding: 100px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.p_footer {
  letter-spacing: 2px;
  line-height: 36px;
  margin: 10px;
}
.site-footer hr {
  border-top-color: #e67e26;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #e67e26;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}
.site-footer a {
  color: #999999 !important;
  transition: all 0.9s ease;
}
.info_footer {
  margin: 10px;
}

.site-footer a:hover {
  color: #e67e26 !important;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #e67e26;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #111111;
}
.copyright-text {
  margin: 10px;
  color: #999999;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #999999;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.text-justify {
  color: #999999;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
.div_footer_sub .MuiTextField-root {
  width: 60%;
  margin: 10px;
}

.div_footer_sub .MuiTextField-root .MuiFormLabel-root {
  color: #999999;
}

.div_footer_sub
  .MuiTextField-root
  .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #999999;
}

.div_footer_sub .MuiTextField-root .MuiInput-underline {
  color: #999999;
}

.div_footer_sub .MuiTextField-root .MuiInput-underline:before {
  border-bottom: 2px solid #999999;
}

.div_footer_sub .MuiTextField-root .MuiInput-underline:after {
  border-bottom: 2px solid #a07d5a;
}
.listitem_footer {
  margin: 10px;
  letter-spacing: 1px;
}

.form {
  position: relative;
  width: 30%;
  height: 40px;
 
}
.form_input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:2px solid #e67e26;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  outline: none;
  padding: 5px;
  background: none;

}
.form_input:hover{
  border-color:#e67e26;

}

.form_label{
  position: absolute;
  left: 5px;
  top:8px;
  padding: 0px 10px;
  color: #fff;
  cursor: text;
  transition: top .2s ease-in,left .2s ease-in,font-size .2s ease-in, padding .2s ease-in;
  background: #0c0c14;
  border-radius: 50px;
}
.form_input:focus + .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) + .form_label {
  top: -10px;
  font-size: 0.8rem;
  left: 2px;
  padding: 0px 2px;
}
.divsub {
  margin: 50px 0px;
}
.h3sub{
  letter-spacing: 2px;
  margin: 28px 0px;
}
.submitsubscribe {
  width: 50px;
  height: 40px;
  background: coral;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.iconsubsub{
  color: #0c0c14;
  font-size: 40px !important;
}